In [1]:
# Import dependencies
import pandas as pd 
import gmaps 
import requests

# Import API key 
from config import g_key

In [2]:
# Store cities.csv into a df
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2021-04-15 19:08:35,-46.1927,168.8643,50.00,95,48,3.00
1,1,Butaritari,KI,2021-04-15 19:11:19,3.0707,172.7902,82.08,74,100,10.33
2,2,Ushuaia,AR,2021-04-15 19:10:14,-54.8000,-68.3000,53.60,32,20,5.75
3,3,Hermanus,ZA,2021-04-15 19:11:19,-34.4187,19.2345,66.00,74,15,7.00
4,4,Kribi,CM,2021-04-15 19:11:19,2.9500,9.9167,81.07,81,78,7.52

In [3]:
# Get data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key = g_key)

In [5]:
# Heatmap of temperature 

# Get the latitude and longitude
locations = city_data_df[['Lat', 'Lng']]

# Get the max temp
max_temp = city_data_df['Max Temp']

# Assign the figure variable
fig = gmaps.figure(center = (30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center = (30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                 weights = humidity,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call figure
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=clouds,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call figure
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=wind,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call figure
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temp value
min_temp = float(input('Minimum temperature you would like for your trip?'))
max_temp = float(input('Maximum temperature you would like for your trip?'))

In [10]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & (city_data_df['Max Temp'] >= min_temp)].dropna()

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Butaritari,KI,2021-04-15 19:11:19,3.0707,172.7902,82.08,74,100,10.33
4,4,Kribi,CM,2021-04-15 19:11:19,2.9500,9.9167,81.07,81,78,7.52
13,13,Meadow Lake,US,2021-04-15 19:11:22,34.8014,-106.5436,75.00,13,20,12.66
16,16,Jamkhed,IN,2021-04-15 19:11:23,18.7362,75.3121,83.62,27,0,15.39
18,18,Puerto Ayora,EC,2021-04-15 19:11:11,-0.7393,-90.3518,81.00,89,75,8.05
20,20,Mahebourg,MU,2021-04-15 19:11:24,-20.4081,57.7000,77.00,88,75,5.75
21,21,Mar Del Plata,AR,2021-04-15 19:11:24,-38.0023,-57.5575,75.20,57,40,12.66
22,22,Samarai,PG,2021-04-15 19:11:24,-10.6167,150.6667,79.74,81,99,2.15
26,26,Rikitea,PF,2021-04-15 19:11:09,-23.1203,-134.9692,77.86,74,58,7.63
29,29,Arraial Do Cabo,BR,2021-04-15 19:08:43,-22.9661,-42.0278,80.60,65,20,11.50

In [11]:
preferred_cities_df.count()

City_ID       187
City          187
Country       187
Date          187
Lat           187
Lng           187
Max Temp      187
Humidity      187
Cloudiness    187
Wind Speed    187
dtype: int64

In [12]:
# Create df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[['City','Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1        Butaritari      KI     82.08   3.0707  172.7902
4             Kribi      CM     81.07   2.9500    9.9167
13      Meadow Lake      US     75.00  34.8014 -106.5436
16          Jamkhed      IN     83.62  18.7362   75.3121
18     Puerto Ayora      EC     81.00  -0.7393  -90.3518
20        Mahebourg      MU     77.00 -20.4081   57.7000
21    Mar Del Plata      AR     75.20 -38.0023  -57.5575
22          Samarai      PG     79.74 -10.6167  150.6667
26          Rikitea      PF     77.86 -23.1203 -134.9692
29  Arraial Do Cabo      BR     80.60 -22.9661  -42.0278

In [13]:
# Set parameters to search for a hotel
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

In [14]:
# Iterate through the df
for index, row in hotel_df.iterrows():

    # Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']

    # Add the latitude and longitude to location key for the params dictionary
    params['location'] = f'{lat}, {lng}'

    #Use the search term: 'lodging' and our latitude and longitude
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()

    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found...skipping')

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [15]:
# Check df for appended hotels
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Butaritari,KI,82.08,3.0707,172.7902,Isles Sunset Lodge
4,Kribi,CM,81.07,2.9500,9.9167,Les Vagues bleues
13,Meadow Lake,US,75.00,34.8014,-106.5436,JKL Inc. R.V Park and Storage
16,Jamkhed,IN,83.62,18.7362,75.3121,Beleshwar coffee center
18,Puerto Ayora,EC,81.00,-0.7393,-90.3518,Finch Bay Galapagos Hotel
20,Mahebourg,MU,77.00,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
21,Mar Del Plata,AR,75.20,-38.0023,-57.5575,Gran Hotel Mar del Plata
22,Samarai,PG,79.74,-10.6167,150.6667,Nuli Sapi
26,Rikitea,PF,77.86,-23.1203,-134.9692,Pension Maro'i
29,Arraial Do Cabo,BR,80.60,-22.9661,-42.0278,Pousada Porto Praia

In [16]:
info_box_template = '''
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
'''

In [17]:
# Store the df row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add heatmap of temperature for the vacation spots and a marker for each city
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=max_temp,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call figure
fig

Figure(layout=FigureLayout(height='420px'))